.app-main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #25103b;
    .header{
        height: 4rem;
        padding: 3%;
        border-bottom: 1px solid white;
        display: flex;
        align-items: center;
        .middle-section{
            flex: 1;
    display: flex;
    align-items: center;
    .remove-margin{
        margin: 0;
    }  .white-border{
        height: 2.5rem;
border-left: 1px solid white;
margin: 0 10px;
    }
        }
      
    }
        .title{
        color: white;
    }
    .button-class{
        background: unset;
    border-radius: 23px;
    border: solid 2px;
    padding: 8px 20px;
    font-weight: 500;
    }
    .content {
        padding: 3%;
        flex: 1; /* Grow to fill remaining space */
        .content-data{
           padding-bottom: 0.5rem;
        }
            .pie-chart{
                position: absolute;
                right: 10%;
                top: 43%;
            }
       
        .title-data{
            color: #b69bee;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
        }
        .trigger-button{
            display: flex;
            justify-content: space-evenly;
            margin: 3rem 0rem;
        }
        .missing-ut{
            color:red
        }
        .spiner{
            position: absolute;
            width: -webkit-fill-available;
        }
      }
      
    .footer{
        padding: 3%;
    }
}
@keyframes showSnackbar {
    from {
      transform: translate(-50%, 100%);
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  
  @keyframes hideSnackbar {
    from {
      transform: translate(-50%, 0);
      opacity: 1;
    }
    to {
      transform: translate(-50%, 100%);
      opacity: 0;
    }
  }
  
  .snackbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: showSnackbar 0.3s forwards;
  }
  
  .snackbar.hide {
    animation: hideSnackbar 0.3s forwards;
  }
  